<%- include('header'); -%>
<div class="container text-center">
    <h1>Question</h1>
    <p><%= data[index].ctf_qns %></p>
    <br>  
<hr>    
<br>
<h1>Answer</h1><br>
    <form action="/jeopardy/<%= index  %>" method="POST">
      <input type="text" name="answer" />
      <input type="submit" value="Submit" />
    </form>
    <br>
    <a href="/jeopardy">Back</a>
    </div>
  </body>
</html>
