<%- include('header'); -%>
<div class="container">
<h1>HOW WOULD YOU LIKE TO FIND WALLY TODAY?</h1>
<h2>Welcome, <%= username %></h2>
<h2>Current Score: <%= user_score %></h2>
<h2>Completed: <%= complete %>/30</h2>
<br>
<a href="/erase-me" button class="btn btn-outline-dark">Delete Account</a>
</div>
</body>
</html>
