<%- include('header'); -%>
</body class ="index">
<div class="container-bg">
<div class="container">hello</div>
<div class="container">there</div>
<div class="container">can</div>
<div class="container">you</div>
<div class="container">find</div>
<div class="container">me</div>
<div class="container">somewhere</div>
<div class="container">in</div>
<div class="container">the</div>
<div class="container">horse</div>

</div>
</html>
