<%- include('header'); -%>
<div class="container">
<h1>IT'S TIME TO FIND ME.</h1>
</div>
  <script>
  console.log('You found me!');
  console.log('Can you decode this?');
  console.log('Va beqre gb trarengr gur vaivgr pbqr, znxr n CBFG erdhrfg gb /trarengr');
  console.log('Hint: ROT13');
  
  </script>
</body>
</html>