<%- include('header'); -%>

<div class="jeopardy-container">
  <% for (let j = 0; j < ctf_list.length; j+=5) { %>
  <div class="jeopardy-col">
    <p><%= ctf_list[j].ctf_category %></p>
    <% for (let i = j; i < j+5; i++) { %>
    <div class="jeopardy-div">
      <p><a href="/jeopardy/<%= i %>"><%= ctf_list[i].ctf_points %></a></p>
    </div>
    <% } %>
  </div>
  <% } %>

</div>
</body>
</html>
