<%- include('header'); -%>
<div class="container">
    <h1>Register</h1>
    <form action="/register" method="POST">
      Email
      <input type="text" name="email" />
      Username
      <input type="text" name="username" />
      Password
      <input type="password" name="password" />
      <input type="submit" value="Submit" />
    </form>
    </div>
  </body>
</html>
