body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: "IBM Plex Mono", monospace;
}

a {
  color: black;
}

a:hover {
  color: white;
  background-color: black;
}

.navbar {
  background-color: black !important;
}

.nav-item a:hover {
  color: white !important;
  text-decoration-style: solid;
}

.btn {
  margin: 0px 5px 0px 5px;
}

.container {
  /* border: 1px dashed darkturquoise; */
  /* min-height: 70%; */
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5%;
}

.jeopardy-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 5%;
}

.jeopardy-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 12%;
  padding: 1%;
}

.jeopardy-cat {
  border: 4px solid black;
  border-radius: 8px;
  font-weight: bold;
  max-width: 120px;
  min-width: 100%;
  min-height: 80px;
  max-height: 80px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5%;
  padding: 5%;
}

.jeopardy-div {
  color: black;
  border: 1px solid black;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5%;
  padding: 5%;
}

.jeopardy-div p {
  font-size: 24px;
  margin: 10px;
}

.jeopardy-div:hover {
  color: white;
  background-color: black;
}

.jeopardy-div:hover a {
  color: white;
  /* background-color: black; */
}

.greyed-out {
  color: black;
  background-color: grey;
  border: 1px solid black;
  border-radius: 8px;
  min-width: 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 5%;
  padding: 5%;
}

.greyed-out p {
  font-size: 24px;
  margin: 10px;
}

.greyed-out:hover {
  color: white;
  background-color: black;
}

.greyed-out:hover a {
  color: white;
  background-color: black;
}

.listing-entry {
  /* border: 1px dotted fuchsia; */
  flex-direction: column;
}

.row {
  /* border: 1px dotted lime; */
}

.col {
  /* border: 1px dotted fuchsia; */
}

.visitor {
  /* border: 1px dotted white; */
  align-items: flex-end;
  padding: 5%;
  margin: auto;
  align-items: center;
}

.sighting {
  /* border: 1px dotted white; */
  padding: 5%;
  margin: auto;
  align-items: center;
}

.sighting-entry {
  /* border: 1px dotted lime; */
  padding: 5%;
  margin: auto;
  align-items: center;
}

.form-container {
  /* border: 1px dotted white; */
  padding: 5%;
  margin: auto;
  align-items: center;
}

#text {
  height: 150px;
  padding: 5%;
  resize: none;
  max-width: 100%;
  /* word-wrap: break-word;
  word-break: break-all; */
  /* overflow-wrap: break-word; */
}
